
        .fila-productos {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }

        .producto {
            border: 1px solid #ccc;
            padding: 10px;
            width: 200px;
            text-align: center;
        }

        .producto img {
            width: 100%;
            height: auto;
        }

        .producto h3 {
            margin: 10px 0 5px;
            font-size: 16px;
        }

        .producto p {
            margin: 2px 0;
            font-size: 14px;
         }

         header{
            text-align: center;
            font-size: x-large;
         }
    